In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from pandas import Series
#from mpl_toolkits.basemap import Basemap
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
#Reading in data and looking at the number of rows and columns using shape 
aapl_train = pd.read_csv('AAPL_Train.csv')
aapl_test = pd.read_csv('AAPL_Test.csv')

In [5]:
print(aapl_train.shape)
print(aapl_test.shape)

(1472, 3)
(192, 3)

In [6]:
aapl_train.head(3)

,Date,Top_Headlines_words,Pos/Neg_nextday_Change
0,2015-03-02,apple google poaching settlement appears heade...,0
1,2015-03-03,apple exploring settlement electric car batter...,1
2,2015-03-04,hbo talk apple google launch streaming service...,0

In [7]:
aapl_test.head(3)

,Date,Top_Headlines_words,Pos/Neg_nextday_Change
0,2021-03-30,sp 500 stutter bull wary megacap tech despite ...,1
1,2021-03-31,stock edge biden spending plan boost u outlook...,1
2,2021-04-01,sp 500 close record 4000 tech swagger keep bul...,1

In [8]:
x_train, y_train, x_test, y_test = aapl_train['Top_Headlines_words'], aapl_train['Pos/Neg_nextday_Change'], aapl_test['Top_Headlines_words'], aapl_test['Pos/Neg_nextday_Change']

In [9]:
x_train.to_csv('x_train.csv', index = False)
y_train.to_csv('y_train.csv', index = False)
x_test.to_csv('x_test.csv', index = False)
y_test.to_csv('y_test.csv', index = False)